<div class="text-3xl font-bold mb-5">
  <%= @card.deck.name %>
</div>

<div id="card-container" class="flex justify-center items-center mt-20 cursor-pointer">
  <div class="text-2xl">
    <p id="card-front"> <%= @card.front %> </p>
    <p id="card-back" style="display: none;"> <%= @card.back %> </p>
  </div>
</div>

<div id="next-card" style="display: none;" class="mt-10 text-center">
  <%= link_to "Next card", quiz_path, data: { turbo: false }, class: "rounded-lg py-3 px-5 mt-10 bg-blue-600 text-white inline-block font-medium" %>
</div>


