<div class="text-3xl font-bold mb-5">
  <%= @card.deck.name %>
</div>

<div data-controller="quiz">
  <div class="flex justify-center items-center mt-20 cursor-pointer border rounded-lg" data-quiz-target="cardContainer">
    <div class="flex text-2xl h-[200px] items-center">
      <p data-quiz-target="cardFront"> <%= @card.front %> </p>
      <p data-quiz-target="cardBack" style="display: none;"> <%= @card.back %> </p>
    </div>
  </div>

  <div data-quiz-target="actionButton" style="display: none;" class="text-center">
    <%= link_to "Next card", quiz_path, class: "rounded-lg py-3 px-5 mt-10 bg-blue-600 text-white inline-block font-medium" %>
  </div>
</div>
