<div class="text-3xl font-bold mb-5">
  Quiz
</div>

<div class="font-bold">
  <p>Front: <%= @card.front %></p>
  <p>Back: <%= @card.back %></p>

  <%= link_to "Next card", quiz_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>



