<div class="mb-3">
  <%= link_to "Decks", decks_path, class: "text-blue-600 hover:text-blue-800" %>
  >
  <% if path %>
    <% path.each do |parent|%>
      <%= link_to parent.name, deck_path(parent), class: "text-blue-600 hover:text-blue-800" %>
      >
    <% end%>
  <% end %>
  <%= deck.name || "New Deck" %>
</div>
