<div class="text-3xl font-bold mb-5">
  Dashboard
</div>

<div class="mb-5">
  <p>Available points: <%= @profile.points %></p>
</div>

<div class="font-bold">
  <p>Last accomplished tasks:</p>
  <div id="tasks" class="min-w-full mt-10">
    <%= render @tasks %>
  </div>
</div>

<div class="font-bold mt-10">
  <p>Last received rewards:</p>
  <div id="rewards" class="min-w-full mt-10">
    <%= render @rewards %>
  </div>
</div>


