<div class="text-3xl font-bold mb-5">
  Dashboard
</div>

<div class="mb-5">
  <p>Available points: 50</p>
  <p>Total points earned: 100</p>
  <p>Total points spent: 50</p>
</div>

<div class="font-bold">
  <p>Last accomplished tasks:</p>
</div>


