<div id="cards" class="min-w-full mt-10">
  <div class="flex justify-between items-center font-medium">
    <p class="my-2 ml-10 w-1/2">Front</p>
    <p class="w-1/2">Back</p>
    <p class="py-3 mr-10 px-2">Actions</p>
  </div>
  <hr>
  <%= render cards %>
  <%= paginate cards %>
</div>
