<div id="<%= dom_id(deck) %>">
  <div class="flex justify-between items-center">
    <div class="flex">
      <%= link_to deck.name, deck_path(deck), class: "my-2 ml-10 font-semibold text-blue-600 hover:text-blue-800" %>
    </div>

    <div class="flex">
      <%= link_to "Rename", edit_deck_path(deck), class: "py-3 ml-2 px-5 text-blue-600 hover:text-blue-800 font-medium" %>
      <%= button_to "Delete", deck_path(deck), method: :delete, class: "py-3 px-5 ml-2 text-red-600 hover:text-red-800 font-medium border-none bg-transparent", form: { class: "inline-block" } %>
    </div>
  </div>

  <hr>
</div>
